# Local stuff
bak/
.vscode/
checkpoints/
test/cnn_outputs/
test/cnn_outputs_test/
mlruns/
episode_rewards.csv
gradients_log.csv
ppo_visual_pendulum.zip
ppo_pendulum.zip
vecnormalize_stats.pkl
media/
logs/
simdata/
*.csv
cnn_outputs_test/
.python-version